.cards{
    grid-column: 2/span 4;
    grid-row:2/span 2;
    border-radius: 5px;
    padding-left: 10px;
    border:1px solid black;
    display: flex;
    align-content: center;
    justify-content: space-around;
}
    
.project-description img{ 
    max-width: 300px;
}




/* .cards{
   /* background-color:rgba(94, 16, 16, 0.932);*/
    /* grid-column: 2/ span 4;
    grid-row: 2 / span 13; */
/* } */ 
/* .oyt{
    height: 425px;
    width:485px;
    
} */
/*.cards{
    text-align: center;
}*/
/* .h4-oyt{
    text-align: center;
    color: white;

} */
/* .h4-fc{
    text-align: center;
    color:rgb(0, 195, 255);

} */

/* .FC901{
    height: 425px;
    width: 485px;
} */
/* .oyt-font{
    color:white;
   
    text-align: center;
} */
/* .fc-font{
    color:rgb(0, 195, 255);
    
    text-align: center;
} */

/*.span{
    float: left;
}*/
    
