.grid-container{
    background-color: blue;
    display: grid;
    border:salmon 2px dashed;
    grid-template-columns: repeat(5, 1fr);
    column-gap:20px;
    grid-template-rows: repeat(14, 1fr);
    row-gap: 10px;
}

.header-nav{
    background-color: white;
    grid-column: 1/ 1;
    grid-row: 1/-1;
}

    

.greeting{
    background-color: red;
    grid-column: 2/span 4;
    grid-row: 1/span 1;
}

.welcome{
    background-color: green;
    grid-column: 2/span 4;
    grid-row:2/span 2;
}
.level{
    background-color: purple;
    grid-column: 5;
    grid-row:2/span 2;
}
/*.status{
    background-color: yellow;
    grid-column: 5;
    grid-row:3;
}*/
.project-status{
    background-color:pink;
    grid-column:2/ span 4;
    grid-row: 4/ span 2;
}
.cur{
    background-color: aqua;
    grid-column: 2;
    grid-row:4/span 2;
    border-radius: 5px;
}
.inp{
    background-color: aliceblue;
    grid-column:3;
    grid-row:4/span 2;
    border-radius: 5px;
}
.com{
    background-color: aliceblue;
    grid-column:4;
    grid-row:4/span 2;
    border-radius: 5px;

}
.not{
    background-color: aliceblue;
    grid-column:5;
    grid-row:4/span 2;
    border-radius: 5px;
}
.calendar{
    background-color: chartreuse;
    grid-column:2/span 2;
    grid-row:6/ span 7;
}

.current-projects{
    background-color: chartreuse;
    grid-column:4/span 2;
    grid-row:6/ span 7;

}
